<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="DB_MaintenanceMode::maintenancemode" title="Maintenance Mode" module="DB_MaintenanceMode" sortOrder="998" parent="Magento_Backend::stores" resource="DB_MaintenanceMode::manage503"/>
		<add id="DB_MaintenanceMode::maintenancemode_rules" title="Adjust Settings" module="DB_MaintenanceMode" sortOrder="10" parent="DB_MaintenanceMode::maintenancemode" action="maintenancemode/adjustsettings" resource="DB_MaintenanceMode::manage503"/>
    </menu>
</config>